@model YazLabSite.ViewModels.Asama23ViewModel
@{
    ViewBag.Title = "Son";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Son</h2>

<h2>AŞAMA 23</h2>

<p>Benzerlik oranı: %@Model.Benzerlik</p>

@if (Model.KeywordListesi != null && Model.KeywordListesi2 != null)
{
    int sayi = 0;
    if (Model.KeywordListesi.Count < Model.KeywordListesi2.Count)
    {
        sayi = Model.KeywordListesi.Count;
    }
    else
    {
        sayi = Model.KeywordListesi2.Count;
    }




<p>@Model.Site1--------------------------------------------------------- @Model.Site2    </p>  

    <ol>
        
        @for (int i = 0; i < sayi; i++)
        {
        <li>@Model.KeywordListesi[i].Word @Model.KeywordListesi[i].Frequency--------------------------------------------------------- @Model.KeywordListesi2[i].Word @Model.KeywordListesi2[i].Frequency</li>
        }

    </ol>

}